<p><b> Hola! </b></p>
<p>
    Presento el desarrollo con los requerimientos solicitados, en donde se relacionan personas con planetas, 
    cada una tiene su tabla con el nombre de "personas" y "planetas" respectivamente.
</p>
<p>
    - Se utilizó XAMPP como base de datos local, se usó phpMyAdmin para la administración de las DB.
</p>
<p>
    - El backend fue realizado usando Laravel en donde se montaron las consultas a las DB.
</p>

<p>
    - El frontend está realizado con Angular, desde donde se hacen las consultas a los servicios creados con Laravel.
</p>

<p>
    Para navegar en la aplicación se usa el menú de la zona superior, en donde de Personas se despliega la opción
    "Personas", la cual abre una vista que muestra un formulario para agregar una persona, y en la zona inferior una tabla con
    la lista de personas registradas, en cada una de las filas existe la opción de eliminar, o de ver los detalles y editar si
    se desea; al pulsar detalles/editar se aumenta el contador de visitas de la persona y del planeta al que esta pertenezca.
</p>

<p>
    La opción "Top 3 personas" muestra una lista de las 3 personas con más visitas.
</p>

<p>
    De planetas se despliega la opción
    "Planetas", la cual abre una vista que muestra un formulario para agregar un planeta, y en la zona inferior una tabla con
    la lista de planetas registrados, en cada una de las filas existe la opción de eliminar, o de ver los detalles y editar si
    se desea; al pulsar detalles/editar se aumenta el contador de visitas del planeta y dentro de esta vista en la parte inferior 
    se muestran las personas pertenecientes al planeta seleccionado.
</p>

<p>
    La opción "Top 3 planetas" muestra una lista de los 3 planetas con más visitas.
</p>